<% if current_user.liked? recipe %>
  <div id="ajax-like-unlike-<%= recipe.id %>"><%= render "favors/unlike", recipe: recipe, favor: Favor.rela(current_user.id, recipe.id) %></div>
<% else %>
  <div id="ajax-like-unlike-<%= recipe.id %>"><%= render "favors/like", recipe: recipe %></div>
<% end %>
