<div class="container">
  <div class="row">
    <h2><b><%= @category.recipes.count %></b> <%= t(".recipe_for")+
      " "+@category.name %></h2>
      <%= render @recipes, divide: Settings.col_3 %>
  </div>
      <%= paginate @recipes, theme: "twitter-bootstrap-3" %>
</div>


